<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>	¡Tamagotchi!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Tamagotchi: Your Digital Pet</h1>
        <p class="lead">Fill in the form below to create a new Tamagotchi pet.</p>
        <form action="/pets" method="POST">
        <label for="name">Your new friends name:</label>
        <input id="name" name="name" type="text">
        <label for="type">What type of pet is your new friend:</label>
        <input id="type" name="type" type="text">
        <button type="submit" class="btn btn-primary btn-lg" role="button">Create your pet</button>
        </form>
      </div>
    </div>
  </body>
</html>